.todo-details{
    width: 100%;
}

.all-details{
    
    width: 50%;
    margin: 0px auto;
    
}

.personal-details{
    margin-top: 30px;
    background-color: rgb(241, 250, 250);
    padding: 20px 30px;
    border-radius: 10px;
}

.details-info p{
    margin-top: 10px;
}

.details-info p span{
    font-weight: 500;
}

.details-buttons{
    margin-top: 20px;   
    padding: 10px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    
}

.details-buttons button{
    padding: 10px 40px;
    border-radius: 10px;
    border: none;
    background-color: crimson;
    color: white;
    margin-left: 20px;
    
}

.details-buttons button:hover{
    cursor: pointer;
    background-color: brown;
}