.todo-list{
    width: 100%;
}

.my-todos{
    width: 60%;   
    margin: 0px auto;
    padding: 20px;
   
    display: flex;
    flex-direction: row;
    /* text-align: center; */
    flex-wrap: wrap;
    justify-content: space-around;
}

.all-todos a{
    text-decoration: none;
    color: black;
    font-weight: 470;
}

.single-todo{
    margin: 0px auto;
    margin-top: 20px;
    width: 250px;    
    padding: 20px 10px;
    background-color: antiquewhite;
    border-radius: 5px;
    display: flex;
    flex-direction: column;    
    flex-wrap: wrap;
}

.single-todo:hover{
    cursor: pointer;
    background-color: rgb(248, 248, 178);
    
}