.create{
    width: 100%;
    margin-top: 20px;
}

.create-container{
width: 35%;
background-color: rgb(236, 236, 236);
margin: 0 auto;
padding: 30px;
border: 1px solid black;
border-radius: 5px;
/* box-shadow: 5px 5px 8px #888888 */
}

.label{
    display: block;
    font-weight: 450;
}

.form{
    width: 100%;    
}

.form input{
    width: 100%;
    padding: 9px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 0.5px solid rgb(68, 67, 67);
}

.form textarea{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
}

.form #select {
    width: 50%;
    padding: 9px;
    margin: 15px 0px;
    border-radius: 5px;
}

.form button{
    padding: 10px 40px;
    border-radius: 10px;
    border: none;
    background-color: crimson;
    color: white;
    
    margin-left: 33%;
}

.form button:hover{
    cursor: pointer;
    background-color: brown;
}